<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diev.aplicacion.diev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.diev.aplicacion.diev.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission." />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CrearEvento"
            android:label="@string/crear_evento"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name=".CalendarActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/calendar_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".WeekContent"
            android:configChanges="orientation|screenSize"
            android:label="@string/calendar_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DayContent"
            android:configChanges="orientation|screenSize"
            android:label="@string/calendar_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Weather"
            android:configChanges="orientation|screenSize"
            android:label="@string/weather_details"
            android:theme="@style/AppTheme.ActionBar.Transparent"></activity>
        <activity
            android:name=".ViewEvent"
            android:label="@string/view_event"
            android:parentActivityName=".CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CalendarActivity" />
        </activity>
        <activity
            android:name=".ViewSuggestion"
            android:configChanges="orientation|screenSize"
            android:label="@string/view_suggestion"
            android:theme="@style/AppTheme.ActionBar.TransparentAlmost"></activity>
        <activity
            android:name=".SuggestionDetail"
            android:label="@string/view_suggestion_details"
            android:parentActivityName=".ViewSuggestion"
            android:theme="@style/AppTheme.ActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewSuggestion" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAO3djftLTf3aJkVcZcgII-llgdzJ2B9a0" />
    </application>

</manifest>
